Binaries/
Installer/
AudioFiles/
Documentation/
Expansions/
Presets/
Packaging/GNU/temp
Packaging/GNU/makeself
Samples/
PooledResources/
Packaging/
Compiled/
*build
*dev
*.hxi
*.hxp
*.hr*
*.ch*
.DS_Store
user_info.xml
